

        <div class="card">
            {% if post.thumbnail %}
                <img src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}" class="card-img-top" alt="{{ post.thumbnail.imageName }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|u.truncate(160, '...' ) }}</p>
                <a href="#" class="btn btn-primary">Lire plus</a>
            </div>
        </div>
