{% if form %}
{# si le formulaire est null, il ne rentre pas dedans #}
	{{ form_start(form) }}

	<div class="input-group d-flex justify-content-center">
		<div class="form-outline">
        
			{{ form_widget(form.q, {'attr': {'class': 'form-control '}}) }}
		
		</div>
		<button type="submit" class="btn btn-primary">
			<i class="fas fa-search"></i>
		</button>
	</div>
	{{ form_end(form) }}
{% endif %}
